<mat-nav-list>
  <br>
  <div fxLayoutAlign="center center">
    <h1>Navigation</h1>
  </div>
  <mat-divider></mat-divider>
  <br>

  <a mat-list-item routerLinkActive="active-route" routerLink="/collaborators">
    <mat-icon>perm_identity</mat-icon>
    Collaborators
  </a>
  <a mat-list-item routerLinkActive="active-route" routerLink="/documents">
    <mat-icon>description</mat-icon>
    Documents
  </a>
  <a mat-list-item routerLinkActive="active-route" routerLink="/access-requests">
    <mat-icon>supervisor_account</mat-icon>
    Access Requests
  </a>
  <a mat-list-item routerLinkActive="active-route"  routerLink="/tags">
    <mat-icon>label</mat-icon>
    Tags
  </a>
</mat-nav-list>
