<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>APP LOGO</span>
    
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-raised-button matTooltip="Logout" color="secondary">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>