<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <img src="assets/app_logo_white.png" alt="IReNE Logo" style="width: 30%;">
    </span>
    
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
          <span>Admin</span>
          <button mat-icon-button matTooltip="Logout" color="secondary" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
          </button>

      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>