.example-container {
  max-height: 590px;
  overflow: auto;
}

table {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}