<div>
  <h1>Documents</h1>
</div>
<div>
  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput [disabled]="loading" (keyup)="textFilter($event)" placeholder="Ex. Sample Title ...">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-checkbox [disabled]="loading" style="margin: 10px;" color="primary" (change)="filterPublished()" [(ngModel)]="checkPublished">
    Published</mat-checkbox>
  <mat-checkbox [disabled]="loading" style="margin: 10px;" color="primary" (change)="filterUnpublished()" [(ngModel)]="checkUnpublished">
    Unpublished</mat-checkbox>

  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

  <div class="mat-elevation-z8">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" *ngIf="!loading">

        <!-- title Column -->
        <ng-container matColumnDef="title">
          <th class="header-color-size" mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element">
            {{(element.title.length > 80)? (element.title | slice:0:80) + '...':(element.title)}}
          </td>
        </ng-container>

        <!-- Creator Column -->
        <ng-container matColumnDef="creator">
          <th class="header-color-size" mat-header-cell *matHeaderCellDef> Creator </th>
          <td mat-cell *matCellDef="let element">
            {{element.creator}}
          </td>
        </ng-container>

        <!-- Published Status Column -->
        <ng-container matColumnDef="published">
          <th class="header-color-size" mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell class="center-cell" *matCellDef="let element">
            <mat-chip-list aria-label="Banned or not">
              <mat-chip 
              [class.spinner]="element._id == selectedId"
              [disabled]="element._id == selectedId"
                *ngIf="element.published" selectable="false" disableRipple="true" class="publish-chip">
                Published
              </mat-chip>

              <mat-chip
              [class.spinner]="element._id == selectedId"
              [disabled]="element._id == selectedId" 
              *ngIf="!element.published" selectable="false" disableRipple="true" class="unpublish-chip">
                Unpublished
              </mat-chip>

            </mat-chip-list>
          </td>
        </ng-container>


        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th class="center-cell header-color-size" mat-header-cell *matHeaderCellDef>Actions</th>
          <td class="center-cell" mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" 
            [disabled]="element.published || element._id == selectedId" [class.spinner]="element._id == selectedId"
              (click)="publishDoc(element._id, element.title)" matTooltip="Publish">
              <mat-icon>check_circle</mat-icon>
            </button>
            <button mat-icon-button color="warn" 
            [disabled]="!element.published || element._id == selectedId" [class.spinner]="element._id == selectedId"
              (click)="unpublishDoc(element._id, element.title)" matTooltip="Unpublish">
              <mat-icon>remove_circle</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="previewDoc(element._id)" matTooltip="Preview">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[8, 16]" showFirstLastButtons></mat-paginator>
  </div>
</div>