<div class="login-container">
  <div style="width: 500px;">
    <mat-toolbar color="primary">
      <span class="fill-space"></span>
      
      <span>Admin Dashboard</span>

      <span class="fill-space"></span>
    </mat-toolbar>
    <mat-card class="login-card">
      <mat-card-content class="login-content">
        <img src="assets/app_logo.png" alt="IReNE Logo" style="width: 30%;">
        <div *ngIf="!loading">
          <div [style.display]="incorrectFields ? 'block' : 'none'" style="color: red;">The username and password you entered did not match our records.</div>
          <br>
          <form
          [formGroup]="loginForm"
          (ngSubmit)="login()"
          (keydown)="keyDownLogin($event)"
          >
            <mat-form-field appearance="outline" style="width: 32em;">
              <mat-label>Username</mat-label>
              <input matInput
              formControlName="username"
              id="username"
              name="username"
              placeholder="Username" required>
              
              <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>
            
            <br>

            <mat-form-field appearance="outline" style="width: 32em;">
              
              <mat-label>Password</mat-label>
              <input matInput
              formControlName="password"
              name="password"
              placeholder="Password" type="password" required>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
          </form>
        </div>
        
        <mat-spinner *ngIf="loading"></mat-spinner>
      </mat-card-content>

      <mat-card-actions class="login-actions">
        <span class="fill-space"></span>
        <!-- <button mat-raised-button (click)="login()" color="primary">Login</button> -->
        <button mat-raised-button 
          color="primary" 
          style="width: 32em;"
          [disabled]="!loginForm.valid"
          (click)="login()">
            Login
          </button>
      </mat-card-actions>
      <br>
    </mat-card>
  </div>
</div>