mat-progress-bar{
  height: 10px;
}

.table-container{
  position: relative;
  height: 58.5vh;
  overflow: auto;
}

table {
  width: 100%;
}

.header-color-size{
  font-size: medium;
  color: black;
}

.center-cell {
  text-align: center;
  justify-content:center;
}

.center-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}