.example-container {
  max-height: 590px;
  overflow: auto;
}

table {
  width: 100%;
}

ccrr {
  background-color: black;
  color: black;    
}
.hello{
  background-color: black !important;
}