mat-progress-bar{
  height: 10px;
}

.table-container{
  position: relative;
  height: 58.5vh;
  overflow: auto;
}

table {
  width: 100%;
}

.header-color-size{
  font-size: medium;
  color: black;
}

.center-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}