<div>
    <div style="padding: 2em;">
    <header-component></header-component>
    
    <mat-card class="preview-card">
        <div >
            <h1 style="padding-bottom: 0%; margin-bottom: 0%; font-size:large; font-weight: bolder; width: 100%; text-align: right !important;">New</h1>
        </div>
        <mat-card-header>

        <mat-card-subtitle>
            <br>
            <div *ngIf="authorRev?.new.length > 0">
            <h2>Author</h2>
            <div>
                <table *ngFor="let author of authorRev?.new; index as i" >
                    <tr style="width: 100%; ">
                        <td style="width: 50%; text-align: left; font-weight: normal;">
                            <h4 style="display: inline; font-weight: bolder;">
                                Name: 
                            </h4>
                            {{ author.author_FN }} {{author.author_LN}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%; text-align: left; font-weight: normal;">
                            <h4 style="display: inline; font-weight: bolder;">
                                Email: 
                            </h4>
                                {{ author.author_email }} 
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%; text-align: left; font-weight: normal;">
                            <h4 style="display: inline; font-weight: bolder;">
                                Faculty: 
                            </h4>
                                {{ author.author_faculty }} 
                        </td>
                    </tr>
            </table>
            </div>
        </div>
            <div *ngIf="authorRev?.new.length == 0">
                <h2>No New Authors to Show</h2>
            </div>
        <br>
        <br>

        </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <br/>
    <br/>
    <mat-card class="preview-card">
        <div style="padding-bottom: 0%; margin-bottom: 0%; ">
            <h1 style="padding-bottom: 0%; margin-bottom: 0%; font-size:large; font-weight: bolder; width: 100%; text-align: right !important;">Old</h1>
        </div>
        <mat-card-header>
            <mat-card-subtitle>
            <br>
            <div *ngIf="authorRev?.old.length > 0">
                <h2>Author</h2>
                <div>
                    <table *ngFor="let author of authorRev?.old; index as i" >
                        <tr style="width: 100%; ">
                            <td style="width: 50%; text-align: left; font-weight: normal;">
                                <h4 style="display: inline; font-weight: bolder;">
                                    Name: 
                                </h4>
                                {{ author.author_FN }} {{author.author_LN}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%; text-align: left; font-weight: normal;">
                                <h4 style="display: inline; font-weight: bolder;">
                                    Email: 
                                </h4>
                                    {{ author.author_email }} 
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%; text-align: left; font-weight: normal;">
                                <h4 style="display: inline; font-weight: bolder;">
                                    Faculty: 
                                </h4>
                                    {{ author.author_faculty }} 
                            </td>
                        </tr>
                </table>
                </div>
            </div>
                <div *ngIf="authorRev?.old.length == 0">
                <h2>No Old Authors to Show</h2>
                </div>
            <br>
    
            </mat-card-subtitle>
        </mat-card-header>
        </mat-card>
    </div>

</div>