<h2 style="line-height: 1em;">{{revisionSelected?.document_title}}</h2>
<mat-dialog-content style="width:100%">
    <table style="width: inherit;">
            <tr style="width: 100%; ">
                <td style="width: 50%; text-align: left; font-weight: normal;">
                <h4 style="display: inline-block; font-weight: bolder;">
                    Date: 
                </h4>
                {{ revisionSelected?.revision_date }}
                </td>
                <td style="width: 50%; text-align: left; font-weight: normal;">
                <h4 style="display: inline-block; font-weight: bolder;">
                    Performed By: 
                </h4>
                    {{ revisionSelected?.creator_name }} 
                <a style="font-weight: lighter;">
                    ({{ revisionSelected?.creator_email }})
                </a>
                </td>
            </tr>
            <tr>
            <td style="width: 50%; text-align: left; font-weight: normal;">
                <h4 style="display: inline-block; font-weight: bolder;">Revision #: </h4>
                {{ revisionSelected?.revision_number }}
            </td>
            <td style="width: 50%; text-align: left; font-weight: normal;">
                <h4 style="display: inline-block; font-weight: bolder;">Performed On: </h4>
                {{ revisionSelected?.revision_type }}
            </td>
            </tr>
    </table>
</mat-dialog-content>