<div>
    <div style="padding: 2em;">
    <header-component></header-component>
    
    <mat-card class="preview-card">
        <div >
            <h1 style="padding-bottom: 0%; margin-bottom: 0%; font-size:large; font-weight: bolder; width: 100%; text-align: right !important;">New</h1>
        </div>
        <mat-card-header>

        <mat-card-subtitle>
            <br>
            <div *ngIf="incidentRev?.new.length > 0">
            <h2>Incident Date</h2>
            <div>
                <ul>
                    <h4 style="display: inline; font-weight: bolder;">
                        Date: 
                    </h4>
                    {{ incidentRev?.new }}
                </ul>
            </div>
        </div>
            <div *ngIf="incidentRev?.new.length == 0">
                <h2>No New Incident Date to Show</h2>
            </div>
        <br>
        <br>

        </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <br/>
    <br/>
    <mat-card class="preview-card">
        <div style="padding-bottom: 0%; margin-bottom: 0%; ">
            <h1 style="padding-bottom: 0%; margin-bottom: 0%; font-size:large; font-weight: bolder; width: 100%; text-align: right !important;">Old</h1>
        </div>
        <mat-card-header>
            <mat-card-subtitle>
            <br>
            <div *ngIf="incidentRev?.old.length > 0">
                <h2>Incident Date</h2>
                <div>
                    <ul>
                        <h4 style="display: inline; font-weight: bolder;">
                            Date: 
                        </h4>
                        {{ incidentRev?.old }}
                    </ul>
                </div>
            </div>
                <div *ngIf="incidentRev?.old.length == 0">
                <h2>No Old Incident Date to Show</h2>
                </div>
            <br>
    
            </mat-card-subtitle>
        </mat-card-header>
        </mat-card>
    </div>

</div>