<div>
    <div style="padding: 2em;">
    <header-component></header-component>
    
    <mat-card class="preview-card">
        <div >
            <h1 style="padding-bottom: 0%; margin-bottom: 0%; font-size:large; font-weight: bolder; width: 100%; text-align: right !important;">New</h1>
        </div>
        <mat-card-header>

        <mat-card-subtitle>
            <br>
            <div *ngIf="locationRev?.new.length > 0">
            <h2>Location</h2>
            <div>
                <ul>
                    <li *ngFor="let location of locationRev?.new">
                    {{location}}
                    </li>
                </ul>
            </div>
        </div>
            <div *ngIf="locationRev?.new.length == 0">
                <h2>No New Location to Show</h2>
            </div>
        <br>
        <br>

        </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <br/>
    <br/>
    <mat-card class="preview-card">
        <div style="padding-bottom: 0%; margin-bottom: 0%; ">
            <h1 style="padding-bottom: 0%; margin-bottom: 0%; font-size:large; font-weight: bolder; width: 100%; text-align: right !important;">Old</h1>
        </div>
        <mat-card-header>
            <mat-card-subtitle>
            <br>
            <div *ngIf="locationRev?.old.length > 0">
                <h2>Location</h2>
                <div>
                    <ul>
                        <li *ngFor="let location of locationRev?.old">
                        {{location}}
                        </li>
                    </ul>
                </div>
            </div>
                <div *ngIf="locationRev?.old.length == 0">
                <h2>No Old Location to Show</h2>
                </div>
            <br>
    
            </mat-card-subtitle>
        </mat-card-header>
        </mat-card>
    </div>

</div>