<div>
    <div style="padding: 2em;">
    <header-component></header-component>
    
    <mat-card class="preview-card">
        <div >
            <h1 style="padding-bottom: 0%; margin-bottom: 0%; font-size:large; font-weight: bolder; width: 100%; text-align: right !important;">New</h1>
        </div>
        <mat-card-header>

        <mat-card-subtitle>
            <br>
            <div *ngIf="newSectionContent !== undefined">
            <h2>{{newSectionTitle}}</h2>
            <div [innerHTML]="newSectionContent"></div>
            </div>
            <div *ngIf="newSectionContent === undefined">
                <h2>No New Section to Show</h2>
            </div>
        <br>
        <br>

        </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    
    <br/>
    <br/>
    <mat-card class="preview-card">
        <div style="padding-bottom: 0%; margin-bottom: 0%; ">
            <h1 style="padding-bottom: 0%; margin-bottom: 0%; font-size:large; font-weight: bolder; width: 100%; text-align: right !important;">Old</h1>
        </div>
        <mat-card-header>
            <mat-card-subtitle>
            <br>
            <div *ngIf="oldSectionContent !== undefined">
                <h2>{{oldSectionTitle}}</h2>
                <div [innerHTML]="oldSectionContent"></div>
            </div>
                <div *ngIf="oldSectionContent === undefined">
                <h2>No Old Section to Show</h2>
                </div>
            <br>
    
            </mat-card-subtitle>
        </mat-card-header>
        </mat-card>
    </div>
</div>