.example-container {
  max-height: 590px;
  overflow: auto;
}

table {
  width: 100%;
}

.header-color-size{
  font-size: medium;
  color: black;
}

.center-header-content {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  // font-size: medium;
}

.center-cell {
  text-align: center;
  justify-content:center;
}