mat-progress-bar{
  height: 10px;
}

.table-container{
  position: relative;
  height: 58.5vh;
  overflow: auto;
}

table {
  overflow-y: scroll;
  width: 100%;
}

.header-color-size{
  font-size: medium;
  color: black;
}

.center-header-content {
  justify-content: center;
  text-align: center;
  // font-size: medium;
}

.center-cell {
  text-align: center;
  justify-content:center;
}

.center-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

